.img-thumb {
    width: 138px;
    height: 138px;
    float: left;
    margin-bottom: 5px;
    margin-left: 9px;
    position: relative;
    border-radius: 3px;
    display:flex;
    align-items:center;
    justify-content:center;
    /* border: 1px solid green; */
}